* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg-color: #22212c;
  --text-color: #837e9f;
  --bg-cards: #302f3d;
  --bg-techs: #cb92b1;
}

body {
  background: var(--body-bg-color);
  font-family: 'DM Sans', sans-serif;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  gap: 3rem;
  width: 100%;
}

aside {
  width: 100%;
  flex-basis: 25%;
}

main {
  width: 100%;
  flex: 1;
}

p {
  color: var(--text-color);
}

h4 {
  color: var(--text-color);
  margin-top: 15px;
}

a {
  text-decoration: none;
  color: var(--text-color);
  display: block;
}

a:hover {
  color: var(--bg-techs);
  opacity: 7s;
}

ul {
  list-style: none;
  font-size: 20px;
}

li {
  display: inline;
  display: flex;
  margin: 20px;
}

button {
  background: var(--bg-techs);
  width: 86px;
  height: 24px;
  border-radius: 30px;
  color: black;
  font-size: 15px;
  line-height: 12.57px;
  font: 700;
}

.text {
  font-size: 23px;
  margin-top: 30px;
  color: var(--text-color);
}

.cardProfile {
  background: var(--bg-cards);
  margin-top: 40px;
  width: 100%;
  height: 292px;
  border-radius: 20px;
  text-align: center;
  display: flex;
  display: block;
  padding-top: 32px;
}

.cardProfile p {
  font-size: 13px;
  margin-top: 10px;
}

img.avatar {
  width: 100%;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.cardLinks {
  background: var(--bg-cards);
  margin-top: 40px;
  width: 100%;
  height: 348px;
  border-radius: 20px;
  display: flex;
}

.cardTechnologies {
  background: var(--bg-cards);
  margin-top: 40px;
  width: 100%;
  height: 208px;
  border-radius: 20px;
  text-align: center;
}

.boxT {
  margin: 15px;
}

.cardExperiences {
  background: var(--bg-cards);
  margin-top: 40px;
  width: 100%;
  height: 349px;
  border-radius: 20px;
  text-align: center;
}
.cardProjets {
  background: var(--bg-cards);
  width: 100%;
  height: 86px;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 40px;
  margin-top: 40px;
  border-radius: 20px;
}

.projets {
  display: flex;
  margin-top: 40px;
}

.cardP {
  border-radius: 20px;
  width: 461px;
  height: 186px;
  margin: 15px;
  background: var(--bg-cards);
  padding: 30px;
}

.cardP h4 {
  display: inline;
  padding-left: 16px;
}

.cardP p {
  padding: 16px;
}

.cardP a {
  display: inline;
}
.cardPost  {
  display: flex;
  margin-top: 40px;
  border-radius: 20px;
  margin-left: 66px; 
}

